<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/defaults.css">
    <link rel="stylesheet" href="/public/css/genpage.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Project</h1>
        <ul>
            <li><a href="/" class="menu-text">Home</a></li>
            <li><a href="/genpage" class="menu-text">Generate</a></li>
            <li><a href="about" class="menu-text">About</a></li>
            <li><a href="https://github.com/Hrushikesh-Reddy/team" class="menu-text">Github</a></li>
        </ul>
    </header>
<!-- end of defaults -->
 
<div class="cont">
    <textarea name="" id="txta" placeholder="enter prompt"></textarea>
    <div class="geni" id="frame">
    </div>
</div>
<button id="btn" class="bt">Generate</button>
<button id="clr" class="bt">Clear</button>


<script src="/public/js/genpage.js"></script>
</body>
</html>