<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/defaults.css">
    <link rel="stylesheet" href="/public/css/home.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Project</h1>
        <ul>
            <li><a href="/" class="menu-text">Home</a></li>
            <li><a href="/genpage" class="menu-text">Generate</a></li>
            <li><a href="about" class="menu-text">About</a></li>
            <li><a href="https://github.com/Hrushikesh-Reddy/team" class="menu-text">Github</a></li>
        </ul>
    </header>
    <!-- end of defaults -->

    <div class="cont">

    <button id = 'stbtn'><a href="/genpage" class="menu-text">Start generating -></a></button>
    <h2 class="rg" >Recently generated</h2>

    <div class="ifsg" id="igrid">
<!--         <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxMFMIlQpKPsk38eecew-UkLKcVc_Pcr1duw&s" alt="" width="350" height="250">
            <p>This is a prompt example......</p>
        </div> -->
        
    </div>
</div>

    <script src="/public/js/home.js"></script>
</body>
</html>