<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/defaults.css">
    <link rel="stylesheet" href="public/css/home.css">
    <title>Team 8</title>
</head>
<body>
    <header>
        <div class="showOnMobile ham" onclick="show()"><svg xmlns="http://www.w3.org/2000/svg" height="38" viewBox="0 96 960 960" width="48"><path d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"/></svg></div>
        <h1>Ai-Image-Generator</h1>
        <ul class="nav hideOnMobile">
            <li><a href="/" class="menu-text">Home</a></li>
            <li><a href="/genpage" class="menu-text">Generate</a></li>
            <li><a href="/about" class="menu-text">About</a></li>
            <li><a href="https://github.com/Hrushikesh-Reddy/team" class="menu-text">Github</a></li>
        </ul>
    </header>

    <ul class="nav navm" id="navm">
        <svg onclick="hide()" style="margin: 1rem;"  xmlns="http://www.w3.org/2000/svg" height="28" viewBox="0 96 960 960" width="48"><path d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/></svg>
        <li><a href="/" class="menu-text">Home</a></li>
        <li><a href="/genpage" class="menu-text">Generate</a></li>
        <li><a href="/about" class="menu-text">About</a></li>
        <li><a href="https://github.com/Hrushikesh-Reddy/team" class="menu-text">Github</a></li>
    </ul>

    <div class="cont">

    <button id = 'stbtn' class="menu-text"><a href="/genpage">Start generating -></a></button>
    <h2 class="rg" >Recently generated</h2>

    <div class="ifsg" id="igrid">
<!--         <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxMFMIlQpKPsk38eecew-UkLKcVc_Pcr1duw&s" alt="" width="350" height="250">
            <p>This is a prompt example......</p>
        </div> -->
        
    </div>
</div>

    <script src="public/js/home.js"></script>
    <script >
        function show(){
            let elm = document.getElementById('navm');
            elm.style.display = 'flex'
        }
        function hide(){
            let elm = document.getElementById('navm');
            elm.style.display = 'none'
        }
    </script>
</body>
</html>